@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Vazirmatn, sans-serif;
}
/* Swiper dots */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: white;
  opacity: 0.4;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  border-radius: 4px !important;
  opacity: 1 !important;
}